.sourcelight-code-default {
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 2px #212121;
  display: block;
  background-color: #fff8f2;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.sourcelight-code-default .sourcelight-constant-language {

}

/*
.code_multiline_comment, .code_inline_comment {
  color: #666666;
  font-style: italic;
}

.code_integer, .code_float {
  color: #0098ba;
}

.code_string, .code_char, .code_true, .code_false {
  color: #aa0000;
}

.code_data_type {
  font-weight: bold;
  color: #389eff;
}

.code_var_decl, .code_const_decl {
  font-weight: bold;
}

.code_keyword {
  font-weight: bold;
}

.code_function, .code_this {
  color: #B21B39;
  font-weight: bold;
}

.code_indefinite_prefix {
  color: #B21B39;
}

.code_inline_func {
  font-weight: bold;
}

.code_access_modifier {
  color: #b70000;
  font-weight: bold;
}

.code_scope_modifier {
  font-weight: bold;
  font-style: italic;
  color: #b70000;
}

.code_header {
  color: #ffc300;
}

.code_reference {
  font-weight: bold;
}
/*maroon: #b70000
*/
